<?xml version="1.0"?>
<yandex>
    <!-- ZooKeeper -->
    <zookeeper>
        <node index="1">
            <host>zk</host>
            <port>2181</port>
        </node>
    </zookeeper>

    <!-- Distributed -->
    <remote_servers>
        <c1>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>ch</host>
                    <port>9000</port>
                </replica>
            </shard>
        </c1>
    </remote_servers>
</yandex>
